* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
	margin-right:0;
}

#page{
	display:flex;
	height:98vh;
	overflow:hidden;
	flex-direction:column;
}

div.controls{
	margin-bottom:10px;
}
#upcoming_happenings{
	overflow:auto;
}

.operation{
	display:flex;
	width:400px;
	border:1px solid #881010;
	margin:10px;
}
.operation-type{
	flex:1;
	padding: 6px 12px;
	border-right:1px solid #881010;
	background-color: #88101020;
	color:#881010;
}
.operation-comment{
	flex:1;
	background-color:white;
	padding: 6px 12px;
	margin:0;
}

.manusline {
	display:flex;
	width:400px;
	margin-bottom:3px;
	margin-left:10px;
}
.manus.line-person{
	min-width:100px;
}
.manus.line-no{
	min-width:25px;
}

.item-icon{
	width: 16px;
	height: 16px;
}
.question-button{
	margin: 2px 10px 2px 0px;
	padding: 6px 12px;
	background-color: #10881030;
	border: 1px solid #108810;
}
.question-button.option1{
	background-color: #eeee1030;
	border: 1px solid #eeee10;
}
.question-button.option2{
	background-color: #1010cc30;
	border: 1px solid #1010cc;
}
.question-button.option3{
	background-color: #ee880030;
	border: 1px solid #ee8800;
}
.question-button:hover{
	opacity: 0.7;
	cursor:pointer;
	cursor:hand;
}
.question-button:hover:disabled{
	cursor:default;
	opacity: unset;
}
.subchain{
	display:inline-block;
	margin-right: 10px;
	vertical-align:top;
	border-top:1px solid black;
	border-right:1px solid black;
}
.subchain.option0{
	background-color: #10881030;
}
.subchain.option1{
	background-color: #eeee1030;
}
.subchain.option2{
	background-color: #1010cc30;
}
.subchain.option3{
	background-color: #ee880030;
}